################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SiteMV/WebMvc/bin/Debug/netcoreapp2.1
